<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProjetoIntegrador</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PerguntaServlet</display-name>
    <servlet-name>PerguntaServlet</servlet-name>
    <servlet-class>controller.servlet.PerguntaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerguntaServlet</servlet-name>
    <url-pattern>/PerguntaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisciplinaServlet</display-name>
    <servlet-name>DisciplinaServlet</servlet-name>
    <servlet-class>controller.servlet.DisciplinaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisciplinaServlet</servlet-name>
    <url-pattern>/DisciplinaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroServlet</display-name>
    <servlet-name>CadastroServlet</servlet-name>
    <servlet-class>controller.servlet.CadastroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroServlet</servlet-name>
    <url-pattern>/CadastroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisciplinaServlet2</display-name>
    <servlet-name>DisciplinaServlet2</servlet-name>
    <servlet-class>controller.servlet.DisciplinaServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisciplinaServlet2</servlet-name>
    <url-pattern>/DisciplinaServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoffServlet</display-name>
    <servlet-name>LogoffServlet</servlet-name>
    <servlet-class>controller.servlet.LogoffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoffServlet</servlet-name>
    <url-pattern>/LogoffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponderServlet</display-name>
    <servlet-name>ResponderServlet</servlet-name>
    <servlet-class>controller.servlet.ResponderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponderServlet</servlet-name>
    <url-pattern>/ResponderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualizarTicket</display-name>
    <servlet-name>VisualizarTicket</servlet-name>
    <servlet-class>controller.servlet.VisualizarTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualizarTicket</servlet-name>
    <url-pattern>/VisualizarTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarMonitoresServlet</display-name>
    <servlet-name>ListarMonitoresServlet</servlet-name>
    <servlet-class>controller.servlet.ListarMonitoresServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarMonitoresServlet</servlet-name>
    <url-pattern>/ListarMonitoresServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualizaRespostaServlet</display-name>
    <servlet-name>VisualizaRespostaServlet</servlet-name>
    <servlet-class>controller.servlet.VisualizaRespostaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualizaRespostaServlet</servlet-name>
    <url-pattern>/VisualizaRespostaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtualizarCadastroServlet</display-name>
    <servlet-name>AtualizarCadastroServlet</servlet-name>
    <servlet-class>controller.servlet.AtualizarCadastroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtualizarCadastroServlet</servlet-name>
    <url-pattern>/AtualizarCadastroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisciplinaServlet3</display-name>
    <servlet-name>DisciplinaServlet3</servlet-name>
    <servlet-class>controller.servlet.DisciplinaServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisciplinaServlet3</servlet-name>
    <url-pattern>/DisciplinaServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdicionarDisciplinaServlet</display-name>
    <servlet-name>AdicionarDisciplinaServlet</servlet-name>
    <servlet-class>controller.servlet.AdicionarDisciplinaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdicionarDisciplinaServlet</servlet-name>
    <url-pattern>/AdicionarDisciplinaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirPerguntaServlet</display-name>
    <servlet-name>ExcluirPerguntaServlet</servlet-name>
    <servlet-class>controller.servlet.ExcluirPerguntaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirPerguntaServlet</servlet-name>
    <url-pattern>/ExcluirPerguntaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LiberarPerguntaServlet</display-name>
    <servlet-name>LiberarPerguntaServlet</servlet-name>
    <servlet-class>controller.servlet.LiberarPerguntaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LiberarPerguntaServlet</servlet-name>
    <url-pattern>/LiberarPerguntaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisciplinaServlet4</display-name>
    <servlet-name>DisciplinaServlet4</servlet-name>
    <servlet-class>controller.servlet.DisciplinaServlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisciplinaServlet4</servlet-name>
    <url-pattern>/DisciplinaServlet4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarPerguntaServlet</display-name>
    <servlet-name>AlterarPerguntaServlet</servlet-name>
    <servlet-class>controller.servlet.AlterarPerguntaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarPerguntaServlet</servlet-name>
    <url-pattern>/AlterarPerguntaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtualizarGridServlet</display-name>
    <servlet-name>AtualizarGridServlet</servlet-name>
    <servlet-class>controller.servlet.AtualizarGridServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtualizarGridServlet</servlet-name>
    <url-pattern>/AtualizarGridServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtualizarStatusServlet</display-name>
    <servlet-name>AtualizarStatusServlet</servlet-name>
    <servlet-class>controller.servlet.AtualizarStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtualizarStatusServlet</servlet-name>
    <url-pattern>/AtualizarStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NovaDisciplinaServlet</display-name>
    <servlet-name>NovaDisciplinaServlet</servlet-name>
    <servlet-class>controller.servlet.NovaDisciplinaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NovaDisciplinaServlet</servlet-name>
    <url-pattern>/NovaDisciplinaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirRegistrosServlet</display-name>
    <servlet-name>ExcluirRegistrosServlet</servlet-name>
    <servlet-class>controller.servlet.ExcluirRegistrosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirRegistrosServlet</servlet-name>
    <url-pattern>/ExcluirRegistrosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarTutoresServlet</display-name>
    <servlet-name>ListarTutoresServlet</servlet-name>
    <servlet-class>controller.servlet.ListarTutoresServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarTutoresServlet</servlet-name>
    <url-pattern>/ListarTutoresServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisciplinaServlet5</display-name>
    <servlet-name>DisciplinaServlet5</servlet-name>
    <servlet-class>controller.servlet.DisciplinaServlet5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisciplinaServlet5</servlet-name>
    <url-pattern>/DisciplinaServlet5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisciplinaServlet6</display-name>
    <servlet-name>DisciplinaServlet6</servlet-name>
    <servlet-class>controller.servlet.DisciplinaServlet6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisciplinaServlet6</servlet-name>
    <url-pattern>/DisciplinaServlet6</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HistoricoServlet</display-name>
    <servlet-name>HistoricoServlet</servlet-name>
    <servlet-class>controller.servlet.HistoricoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoricoServlet</servlet-name>
    <url-pattern>/HistoricoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirDisciplinaServlet</display-name>
    <servlet-name>ExcluirDisciplinaServlet</servlet-name>
    <servlet-class>controller.servlet.ExcluirDisciplinaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirDisciplinaServlet</servlet-name>
    <url-pattern>/ExcluirDisciplinaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisciplinaServlet7</display-name>
    <servlet-name>DisciplinaServlet7</servlet-name>
    <servlet-class>controller.servlet.DisciplinaServlet7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisciplinaServlet7</servlet-name>
    <url-pattern>/DisciplinaServlet7</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarPerguntasServlet</display-name>
    <servlet-name>ListarPerguntasServlet</servlet-name>
    <servlet-class>controller.servlet.ListarPerguntasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarPerguntasServlet</servlet-name>
    <url-pattern>/ListarPerguntasServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LiberarMonitorServlet</display-name>
    <servlet-name>LiberarMonitorServlet</servlet-name>
    <servlet-class>controller.servlet.LiberarMonitorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LiberarMonitorServlet</servlet-name>
    <url-pattern>/LiberarMonitorServlet</url-pattern>
  </servlet-mapping>
</web-app>